.contributor {
	#app-layout {
		div.app-header { height: 30px !important; }
		div.app-body { top: 30px !important; }
		ul.app-tabs[role="chrome-tabs"], rsuite-tile.app-popouts { display: none !important; }
		rsuite-tile.app-menu-tile { display: none !important; }
		rsuite-tile.app-session-tile { padding-top: 3px !important; }
		rsuite-tile.support-view { display: none !important; }
		.app-tools .support-site { display: none !important; }
	}
	rsuite-tile.navigation-view rs-icon[role="action-menu"] { display: none; }
	.complete-task-view {
		width: 1px;
		vertical-align: middle;
		.ui-button.task-button {
			rs-icon.ui-button-icon-primary {
				icon {
					color: white !important;
				}
				font-size: 24px;
				margin-top: 0em;
				margin-bottom: -3px;
			}
			margin: 0.25em 0.5em;
		}
	}
	.task-attachments .edit-buttons rs-icon:last-of-type {
		margin-right: 9px;
	}
	.task-attachments .edit-buttons rs-icon {
		margin: 0 12px 0 0;
	}
	.task-attachments .edit-buttons {
		width: 1px;
		white-space: nowrap;
	}
	.task-comments {
		padding: 0;
	}
	.inspect h2 {
		font-size: 1.15em;
		margin-left: 0;
		&>rs-icon {
			vertical-align: -6px;
			font-size: 24px !important;
		}
	}
}
/* Fix for bug in jQuery */
.ui-button.ui-button-text-icon-secondary, .ui-button.ui-button-text-icons {
	padding-right: 1.5em;
}
.comments-and-attachments-view {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
